{% extends 'base.html.twig' %}

{% block title %}Recommendation index{% endblock %}

{% block body %}
    <h1>Recommendation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Message</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recommendation in recommendations %}
            <tr>
                <td>{{ recommendation.id }}</td>
                <td>{{ recommendation.type }}</td>
                <td>{{ recommendation.message }}</td>
                <td>{{ recommendation.createdAt ? recommendation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_recommendation_show', {'id': recommendation.id}) }}">show</a>
                    <a href="{{ path('app_recommendation_edit', {'id': recommendation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recommendation_new') }}">Create new</a>
{% endblock %}
